.Projects{
    background: radial-gradient(circle, black, rgb(142, 5, 194,0.2));
    width: 100%;
    overflow: hidden;
}

.Projects-Container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(140px, auto);
}



.Left-Projects{
    margin: 10px;
    grid-column: 1/6;
    grid-row: 4/5;
}

.ProjectDisplay{
    position: relative;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    /* border: 2px solid rgb(142, 5, 194, .5); */
    border: 2px solid black;
    min-width: 250px;
    border-radius: 12px;
    overflow: hidden;
}

.ProjShow {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
}

.ProjDesc{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center; 
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, black, rgb(142, 5, 194,0.3));
    overflow: hidden;
    cursor: pointer;
}

.Blur-Effect{
    filter: blur(10px);
    transition: all .4s ease-in-out ;
}

.Project-Img{
   height: 100%;
}

.Demeter{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}


.Predicition-Model{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 200%;
}

.Coffee{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    background-color: #ffffff;
    height: 125%;
}


.Demeter > img{
    background-color: #0c0e0d;
    overflow: hidden;
    align-items: center; 
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Role-Selection{
    position: relative;
    display: flex;
    grid-column: 1/6;
    grid-row: 1/4;
    
}

.Role-Selection > div{
    display: flex;
    flex: 1; /* This will make each div take an equal share of the available space */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    box-sizing: border-box;
    transition: all 1s linear;
    overflow: hidden;
}

.Role-Selection > div > h1{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    transition: color .3s linear;
    font-size: 30px;
    overflow: hidden;
}


.Role-Selection > div:hover{
    flex: 5;
}


.Developer-Role{
    border-right: 2px solid rgb(142, 5, 194,0.3);
    border-left: 2px solid  rgb(142, 5, 194,0.3);
    margin: 0px -2px;
    z-index: 1;
}

.Developer-Role:hover{
    z-index: 1;
}

.Background-Role{
    transition: all 1s linear;
    position: absolute;
    text-align: center;
    width: 71.42%;
    height: 100%;
    overflow: hidden;
}

.Background-Blur{
    filter: blur(100px);
    text-align: center;
    /* width: 14.3%; */
    width: 33.3%;
    overflow: hidden;
}

.Hide-Text{
    color: transparent;
}

.DataRole{
    height: 100%;
}