@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.About{
  padding: 0px 20px;
}

.HomeHeader{
  display: flex;
  justify-content: center;
  width: 100%;
}

 
.Home-Header{
  padding: 10px 0px 0px 0px;
  min-width: 535px;
  max-width: 535px;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.Home-Header > span{
  margin: 0 10px;
  text-align: center;
}

.animate-image > img{
  text-align: center;
  width: 30px;
}

.About-Grid{
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.PersonalInterests{
  min-height: 150px;
  min-width: 250px;
}

.PersonalInterests > h1{
  font-size: 25px;
}

.Draggable:hover{
  border: dotted 1px gray;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.Donut-Container{
  width: 350px;
  height: 350px;
  z-index: 10;
  text-align: center;
}

.Donut-Div{
  grid-column: 2;
  width: 100%;
}


.FunFacts{
  grid-column: 3;
  grid-row: 3;
  padding: 10;
}

.EducationSection{
  min-width: 250px;
}