@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.About{

}

.Map{
    display: flex;
    width: 100%;
    align-self: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.WorldMap{
    display: flex;
    width: 50%;
    align-self: center;
}
