@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.About{
    background: radial-gradient(circle, black, rgb(142, 5, 194,0.2));
}

.HomeHeader{
  display: flex;
  justify-content: center;
  width: 100%;
}


.Home-Header{
  padding: 10px 0px 0px 0px;
  min-width: 535px;
  max-width: 535px;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.Home-Header > span{
  margin: 0 10px;
  text-align: center;
}

.animate-image > img{
  text-align: center;
  width: 30px;
}


.PersonalInterests{
  min-height: 150px;
}

.PersonalInterests > h1{
  font-size: 25px;
}

.Draggable:hover{
  border: dotted 1px gray;
  margin: -1px;
}

