.Home{
}

.Home *{
    margin: 0px;
    padding: 0px;
}

.image-container{
    text-align: center;

    width: 100%;
    height: 400px;
}

.under-image{
    border: 1px solid black;
    padding: 205px;
    width: 100%;
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease-in-out;
}



.over-image{
    background-color: green;
    border: 1px solid black;
    padding: 205px;
    color: greenyellow;
    width: 100%;
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    transition: all 2s ease-in-out;
}

.over-image:hover{
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.under-image:hover ~ .over-image{
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

