@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.Home{
    text-align: center;
    background: radial-gradient(circle, black, rgb(142, 5, 194,0.2));
}

.Home *{
    margin: 0px;
    padding: 0px;
}

.HomeHeader{
    display: flex;
    display: flex;
    justify-content: center;
    width: 100%;
}


.Home-Header{
    min-width: 560px;
    max-width: 560px;
    font-size: 35px;
    text-align: center;
    display: flex;
    align-items: center;
}

.Home-Header > span{
    margin: 0 10px;
}

.animate-image > img{
    height: 25px;
}


.Intro-Section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(152px,auto);
}

.Home-Welcome{
    grid-row: 4;
    grid-column: 1;
    padding: 10px;
    text-align: center;
    display: flex;
}

