@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.Home{
    /* position: fixed; */
    background: radial-gradient(circle, black, rgb(142, 5, 194,0.2));
}

.HomeHeader{
    display: flex;
    justify-content: center;
    width: 100%;
}


.Home-Header{
    padding: 10px 0px 50px 0px;
    min-width: 550px;
    max-width: 550px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.Home-Header > span{
    margin: 0 10px;
    text-align: center;
}

.animate-image > img{
    text-align: center;
    width: 30px;
}


.Intro-Section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(40px,auto);
}

.Home-Welcome{
    z-index: 0;
    grid-row:4;
    grid-column: 5;
    padding: 10px;
    text-align: center;
    display: flex;
}

.Get-Connected{
    display: flex;
    justify-content: center;
}

.connect-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    overflow: hidden;
}

.connect-button:hover{
    filter: brightness(.5);
    cursor: pointer;

}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
to {
    transform: scale(4);
    opacity: 0;
}
}

.Link-Area{
    grid-row:4;
    text-align: center;
    z-index: 1;
}

.Link-Area a:hover{
    filter: brightness(.8);
}

.ResumeClick{
    cursor: pointer;
}

.SnackBar{
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 150px;
    height: 40px;
    left:auto;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#threejs-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Ensure the canvas appears on top of other elements */
}

.Cube *{
    left: 100%;
}

.Cube-Holder{
    grid-column: 3;
    grid-row:2;
    text-align: center;
}


.NavCube *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.NavCube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%{
    transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.NavCube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.NavCube div:hover{
}

.NavCube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border: 2px solid rgb(142, 5, 194);
    /* background: linear-gradient(black, rgb(142, 5, 194,0.5)); */
    transform: rotateY(calc(90deg * var(--i))) 
    translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavCube div span:hover:not(:last-child){
    filter: brightness(.5);
    background: linear-gradient(black,rgb(142, 5, 194, .5));
}

.HomeButton:hover{
    background-color: black;
}

.NavCube div span h1{
    font-size: 50px;
}

.Top-NavCube{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    width: 300px;
    background: black;
    border: 2px solid rgb(142, 5, 194);
    transform: rotateX(90deg) translateZ(150px);
}

.Top-NavCube::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background:rgb(142, 5, 194,0.5);
    transform: translateZ(-300px);
    filter: blur(20px);
}

.Name-Header{
    width: 100%;
    text-align: center;
    padding:10px 0px 50px 0px;
}

.Name-Header h1{
    font-size: 40px;
}