@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.App{
    position: absolute;
}

.ALL-PAGES{
    padding-top: 40px;
    height: 100%;
}

.TopBar{
    z-index: 10;
    background-color: white;
    width: 100%; 
    min-height: 40px;
    max-height: 40px;
    position: fixed;
    text-align: center;
    box-shadow: 0 0 5px 5px rgb(119, 166, 247,0.5);
}
.TopBar ul{ 
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.TopBar li{
    color:rgb(119, 166, 247);
    display: inline-block;
    margin: 10px 5px 0px 5px;
    padding: 0px;
}

.TopBar li > img{
    display: inline-block;
    margin: 0px 5px 0px 5px;
    padding: 0px;
}

.TopBar li:hover{
    filter: brightness(.8);
    cursor: pointer;
}

.TopBar li>img:hover{
    filter: brightness(1.8);
    cursor: pointer;
}
